<!-- financing -->
<div class="mb-4" id="financing">
	<h3 class="mb-4">Finance your new eBike</h3>
	<div class="mb-5">

Zip code: <input type="text" name="zip" id="zip" placeholder="Enter your zip code" /><input type="button" id="findfinance" value="See options" />


			<div class="alert alert-info" role="alert">
				Show default financing here. 
			</div>
		

		<table class="table table-hover">

			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Interest Rate</th>
					<th scope="col">Eligability</th>
					<th scope="col">Link</th>
					
				</tr>
			</thead>

			<tbody>
				{% for item in site.data.financing.records %}
				<tr>
					<th scope="row">{{ item.fields["Name"] }}</th>
					<td>{{ item.fields["Interest Rate"] }}</td>
					<td>{{ item.fields["Eligibility State"] }} <a href="{{ item.fields["Eligibility Link"] }}" alt="Read more eligability information from {{ item.fields["Name"] }}" class="text-muted"><i class="fas fa-info-circle"></i></a></td>
					<td><a href="{{ item.fields["Loan Link"] }}">Apply</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
  var financingData = {{ site.data.financing | jsonify }};
  $( document ).ready(function() {
    $( "#findfinance" ).click(function() {
      var zipval = $('#zip').val();
      Cookies.set('zip', zipval, { expires: 356 });
      $.getJSON( "https://objectif.app/ebike/zipsearch.php?1=" + zipval, function( data ) {
        Cookies.set('state', data.state, { expires: 356 });
      });
      console.log($.inArray(Cookies.get('state'), financingData));
      var returnedData = $.grep(financingData.records, function (element, index) {
          return element.fields['Eligibility State'].indexOf("VT") >= 0;
      });
    });
  });
  
</script>