<script src="{{ '/assets/libs/jquery/dist/jquery.min.js' | absolute_url }}"></script>

<!-- header -->
<div class="header fixed-top border-top-3 border-top border-primary bg-dark">
  <!-- navigation start -->
  <div class="container-lg">
    <nav class="navbar navbar-expand-lg navbar-default">
      <a class="navbar-brand" href="{{ site.url | absolute_url }}">
        <h1 class="font-weight-bolder d-block text-white h4 m-0">{{ site.title }}</h1>
        <p class="font-weight-light h6 text-white m-0">{{ site.subtitle }}</p>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="true" aria-label="Toggle navigation">
          <i class="fas fa-times"></i>
        </button>
        <ul class="navbar-nav ms-auto mr-lg-3">
          <li class="nav-item dropdown">
            <a class="nav-link d-lg-none" href="#">
              Menu
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ 'bike-shops' | absolute_url }}" id="menu-1">
              Bike Shops
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ 'bikes' | absolute_url }}" id="menu-2">
              Bikes
            </a>
          </li>
        </ul>
        <div class="header-btn">
          <a href="{{ 'bikes' | absolute_url }}" class="btn btn-primary btn-sm">Buy a bike <i class="fas fa-bicycle"></i></a>
        </div>
      </div>
    </nav>
  </div>
  <!-- navigation close -->
</div>
