<!-- header -->
<div class="header fixed-top border-top-3 border-top border-primary {% if layout.dark-navbar == true %}bg-dark{% endif %}">
  <!-- navigation start -->
  <div class="container-lg">
    <nav class="navbar navbar-expand-lg navbar-default">
      <a class="navbar-brand" href="{{ site.url | absolute_url }}">
        <h1 class="font-weight-bolder d-block text-white h4 m-0">{{ site.title }}</h1>
        <p class="font-weight-light h6 text-white m-0">{{ site.subtitle }}</p>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="true" aria-label="Toggle navigation">
          <i class="fas fa-times"></i>
        </button>
        <ul class="navbar-nav ms-auto mr-lg-3">
          <li class="nav-item dropdown">
            <a class="nav-link d-lg-none" href="#">
              Menu
            </a>
          </li>
          {% for collection in site.collections %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="menu-{{ forloop.index }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ collection.label }}
            </a>
            <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-right dropdown-menu-xl-left" aria-labelledby="menu-{{ forloop.index }}">
              {% for item in collection %}
              {% if item.title %}
              <li>
                <a class="dropdown-item" href="{{ item.url | absolute_url }}">
                  <div class="d-flex align-items-center">
                    <div class="mr-3 icon-shape icon-lg rounded-circle bg-light">
                      <i class="{{ entry.icon }} font-24"></i>
                    </div>
                    <div>
                      <h5 class="mb-0">{{ item.title }}</h5>
                      <span class="font-12 text-muted">
                        {{ ietm.title }}
                      </span>
                    </div>
                  </div>
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="search" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right dropdown-menu-xl-left p-2" aria-labelledby="search">
              <form class="my-2 my-lg-0">
                <input type="search" class="form-control mr-sm-2" id="search-input" placeholder="Search" aria-label="Search" autocomplete="off" />
                <ul class="list-group" id="results-container" style="z-index: 9999; position: absolute;"></ul>
              </form>
            </div>
          </li>
        </ul>
        <div class="header-btn">
          <a href="{{ '/electric_bikes/recqbku7ehrppbdxv/' | absolute_url }}" class="btn btn-primary btn-sm">Buy a bike <i class="fas fa-bicycle"></i></a>
        </div>
      </div>
    </nav>
  </div>
  <!-- navigation close -->
</div>
