<div class="bg-shape bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="pt-lg-18 pb-lg-14 pt-14 pb-12">
          <h1 class="h2 text-white">Shop</h1>
          <!-- breadcrumbs -->
          <div class="custom-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ '/' | absolute_url }}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{{ 'ebikes' | absolute_url }}">{{ page.title }}</a>
              </li>
              {% if page.modelname %}
              <li class="breadcrumb-item active" aria-current="page">
                {{ page.modelname }}
              </li>
              {% endif %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>