{% if paginator.total_pages > 1 %}
<!-- pagination -->
<div class="col-12">
  <ul class="pagination">

    {% if paginator.previous_page %}
    <li class="page-item me-2">
      <a class="page-link rounded" href="{{ paginator.previous_page_path | absolute_url }}">&laquo;</a>
    </li>
    {% endif %}

    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li class="page-item me-2{% if page.url == trail.path %} active{% endif %}" >
      <a href="{{ trail.path | absolute_url }}" title="{{ trail.title }} page {{ trail.num }}" class="page-link rounded">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <li class="page-item me-2">
      <a class="page-link rounded" href="{{ paginator.next_page_path | absolute_url }}">&raquo;</a>
    </li>
    {% endif %}

  </ul>
</div>
{% endif %}