<!-- shop thumbnail -->
<div class="col-lg-4 col-md-6 col-12">
  <div class="card mb-4">
    <div class="card-body">
      {% if post.ogimage.size > 0 %}
      <a href="{{ post.url | absolute_url }}"
        >{% cloudinary srpProductImageHorizontal {{ post.ogimage }} alt="Image
        of a {{ post.title }}" %}</a
      >
      {% else %}
      <a href="{{ post.url | absolute_url }}">No image available</a>
      {% endif %}
      <div class="mt-3">
        <a href="{{ post.url | absolute_url }}">
          <h4 class="mb-1">{{ post.title }}</h4>
        </a>
        <p class="font-12 mb-2">{{ post.address }}</p>
        <a
          href="{{ post.url | absolute_url }}"
          class="btn btn-outline-primary btn-sm mt-3"
          >View shop</a
        >
      </div>
    </div>
  </div>
</div>
