{% assign featured_image = product.images[0]['path'] | replace: 'full/', '' %}
{% assign vendors = site.data.vendors.records | where: "id", product.vendor_id %}
{% assign availability = product.availability %} 

<div class="card mb-5 shadow-sm">
  <div class="row g-0">
    <div class="col-md-3 p-3">
      <a href="{{ product.url | absolute_url }}" class="stretched-link">
      {% include responsive-image.html 
        src=featured_image
        height="200" 
        width="200" 
        class="mx-auto d-block"
        alt=product.title
        style="height:200; width:200; object-fit:cover;" 
      %}
      </a>
    </div>
    <div class="col-md-9 ps-md-9">
      <div class="row p-3 p-md-0">
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              {% if vendor.affiliate_code != nill %}
              <span class="font-12 text-muted">Promoted</span>
              {% endif %}
              <h3 class="card-title">{{ product.title }}</h3>
              {% if product.categories %}
              <p class="font-12 mb-2">
                {% for category in product.categories limit: 4 %}{{ category | capitalize }}{% unless forloop.last %}, {% endunless %}{% endfor %}
              </p>
              {% endif %}
              {% include highlight-badges.html %}
            </div>
            <div class="col-5 pe-3 pe-md-7">
              <p class="text-end">
                <span class="h2">{{ product.price | money: "USD"}}</span>
                {% if product.priceMsrp %}
                <br /><span class="font-14 text-muted me-1"><s>{{ product.priceMsrp | money: "USD" }}</s><span class="badge bg-danger-soft ms-1">Sale</span></span>
                {% endif %}
              </p>
            </div>
          </div>
        {% for vendor in vendors %}
        <div class="row mt-3">
          <div class="col-6 font-14">
            <!-- VENDOR NAME AND STATUS -->
            {% if vendor.affiliate_code != "" %}
            <p class="font-weight-200 text-success">
              <span><strong><i>Verified</i></strong> Seller <img src="{{ '/assets/images/verified.svg' | absolute_url }}" /></span>
            {% else %}
            <p class="font-weight-200 text-muted">
              Seller: {{ vendor.name}}
            </p>
            {% endif %}
            <!-- VENDOR RATING INFORMATION -->
            <p>
              {% assign ratingValue = vendor.reviews.ratingvalue %}
              {% assign ratingCount = vendor.reviews.ratingcount %}
              {% include star-ratings.html %}  
            </p>
          </div>
          <div class="col-6 font-14">
            <!-- CARRIER INFORMATION -->
            {% if vendor.country == "USA" %}
              <p class="text-success"><strong>Shipped from the USA</strong> <img src="{{ 'flag-usa.svg' | prepend: 'assets/images/logos/' | absolute_url }}" class="img-fluid d-none d-sm-inline" style="max-height: 20px;"/></p>
            {% elsif vendor.country != "" %}
              <p>Shipped from {{ vendor.country }}</strong></p>
            {% endif %}
            <!-- PAYMENT INFORMATION -->
            {% if vendor.return_policy.free == true %}
              <p class="text-success "><strong>FREE returns for {{ vendor.return_policy.days }} days</strong></p>
            {% elsif vendor.return_policy.free == false %}
              <p>Returns for {{ vendor.return_policy.days }} days</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>