{% assign featured_image = product.images[0]['path'] | replace: 'full/', '' %}
{% assign vendor = site.data.vendors.records | where: "id", product.vendorid %}
{% assign availability = product.availability %} 

<div class="card mb-5 shadow-sm">
  <div class="row g-0">
    <div class="col-md-3 p-3">
      <a href="{{ product.url | absolute_url }}">
      {% include responsive-image.html 
        src=featured_image
        height="200" 
        width="200" 
        class="mx-auto d-block"
        alt=product.title
        style="height:200; width:200; object-fit:cover;" 
      %}
      </a>
    </div>
    <div class="col-md-9 p-3">
      <div class="row">
        <div class="card-body">
          <div class="row">

            <div class="col-8">
              {% if vendor.affiliate_code != nill %}
              <span class="font-14 text-muted">Promoted</span>
              {% endif %}
              <h3 class="card-title">{{ product.title }}</h3>
              {% if product.categories %}
              <p class="font-14 mb-2">
              {% for category in product.categories limit: 4 %}
                {{ category | capitalize }}
                {% unless forloop.last %}, {% endunless %}
              {% endfor %}
              </p>
              {% endif %}
              {% include highlight-badges.html %}
            </div>

            <div class="col-4">
              <p class="text-end">
                <span class="h2">{{ product.price | money: "USD"}}</span>
                {% if product.pricemsrp %}
                <br /><span class="font-14 text-muted me-1"><s>{{ product.pricemsrp | money: "USD" }}</s><span class="badge bg-danger-soft ms-1">Sale</span></span>
                {% endif %}
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ product.url }}" type="button" class="btn btn-primary btn-lg">View item</a>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a data-bs-toggle="collapse" type="button" class="btn btn-link" data-bs-target="#compare-{{ product.title | slugify }}" aria-expanded="false" aria-controls="compare-{{ product.title | slugify }}">
                  Similar items
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  {% for vendor in vendors %}

  <div class="row g-0 px-3 pt-3 font-14">
  
    <!-- VENDOR NAME AND STATUS -->
    <div class="col-3">
      {% if vendor.affiliate_code != "" %}
      <p class="font-weight-200 text-success">
        <span><strong><i>Verified</i></strong> Seller <img src="{{ '/assets/images/verified.svg' | absolute_url }}" /></span>
      {% else %}
      <p class="font-weight-200 text-muted">
        Seller: {{ vendor.name}}
      </p>
      {% endif %}
    </div>

    <!-- VENDOR RATING INFORMATION -->
    <div class="col-3">
      {% assign ratingvalue = product.ratingvalue %}
      {% assign ratingcount = product.ratingcount %}
      {% include star-ratings.html %}  
    </div>
  
    <!-- CARRIER INFORMATION -->
    <div class="col-3">
      {% if vendor.country == "USA" %}
        <p class="text-success mb-0"><strong>Shipped from the USA</strong> <img src="{{ 'flag-usa.svg' | prepend: 'assets/images/logos/' | absolute_url }}" class="img-fluid d-none d-sm-inline" style="max-height: 20px;"/></p>
      {% elsif vendor.country != "" %}
        <p class="mb-0">Shipped from {{ vendor.country }}</strong></p>
      {% endif %}
    </div>
  
    <!-- PAYMENT INFORMATION -->
    <div class="col-3">
      {% if vendor.return_policy.free == true %}
        <p class="text-success mb-0"><strong>FREE returns for {{ vendor.return_policy.days }} days</strong></p>
      {% elsif vendor.return_policy.free == false %}
        <p class="mb-0">Returns for {{ vendor.return_policy.days }} days</p>
      {% endif %}
    </div>

  </div>
  
  {% endfor %}



  {% assign maxRelated = 6 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}



  <div class="collapse" id="compare-{{ product.title | slugify }}">
    <div class="card card-body border-0 pb-0">

      {% for post in site.posts %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

        {% for tag in post.categories %}
          {% if post.url != page.url %}
            {% if product.categories contains tag %}
              {% assign sameTagCount = sameTagCount | plus: 1 %}
              {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
              {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}

        <div class="row border-bottom border-light pb-3 mb-3 g-0">

          <div class="col-2 col-lg-1">
            <img src="https://cdn.bikefi.net/images/{{ post.images[0]['path'] | prepend: '' | replace: 'full/', '' }}" width="50px" height="50px" class="mx-auto d-block bg-light" alt="{{ post.title }}">
          </div>

          <div class="col-4 col-lg-5">
            <h5 class="mb-0">
              {{ post.title }}
            </h5>
            <p class="mb-0 small">Sold by {{ post.vendor }}</p>
          </div>

          <div class="col-3 col-lg-4">
            <p>{{ post.price | money }}</p>

            <!-- <div class="progress ms-auto" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
          </div>

          <div class="col-3 col-lg-2 text-end">
            <a href="{{ post.url }}" type="button" class="btn btn-outline-primary btn-sm" target="_blank">View item</a>
          </div>

        </div>

        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
          {% if maxRelatedCounter >= maxRelated %}
            {% break %}
          {% endif %}
        {% endif %}

      {% endfor %}
      
    </div>
  </div>
</div>