
<div class="col-11 col-sm-5 col-md-4 col-lg-3 col-xl-2 me-3 bg-white p-3 rounded">
  
  <div class="mb-3">
    <a href="{{ product.url | absolute_url }}" class="stretched-link">
      {% assign featured_image = product.images[0]['path'] | replace: 'full/','' %} 
      {% include responsive-image.html 
        src=featured_image 
        height="182"
        width="182" 
        class="img-fluid mx-auto d-block rounded bg-light" 
        alt=product.title
        style="height:182px; object-fit:cover;" 
      %}
    </a>
  </div>

  <span class="mb-3 text-secondary fw-bold d-block"
    >{% if product.categories %}{{ product.categories[0] | capitalize }}{% else
    %}New on BikeFi{% endif %}</span
  >
  <span class="h5 mb-3 w-100 d-inline-block text-truncate">
    {{ product.title }}
  </span>

  <div class="w-100 d-inline-block text-truncate" style="min-height:55px;">
    {% include highlight-badges.html %}
  </div>

</div>