<div class="card card-block h-100 mb-4 shadow-sm border-light">
  <div class="card-body d-flex flex-column">

    <a href="{{ post.url | absolute_url }}">
      {% assign featured_image = post.images[0]['path'] | replace: 'full/', '' %}
      {% include responsive-image.html 
        src=featured_image
        height="172" 
        width="172" 
        class="mt-3 img-fluid" 
        alt=post.title
      %}
    </a>

    <div class="mt-3">

      <a href="{{ post.url | absolute_url }}">
        <h4 class="mb-1">{{ post.title }}</h4>
      </a>

      <p class="font-12 mb-2">
        {% if post.make %}
          {{ post.make }}
        {% elsif post.vendor %}
          {{ post.vendor }}
        {% endif %}
      </p>

      <span class="text-dark me-2">
        <small>From</small>
        {{ post.price | money }}
      </span>
 
      {% if post.price_msrp %}
      <span class="badge bg-success-soft">Sale</span>
      {% endif %}
      <div class="font-12">
      {% assign ratingvalue = post.ratingvalue %}
      {% assign ratingcount = post.ratingcount %}
      {% include star-ratings.html %}
      </div>
 
      <a href="{{ post.url | absolute_url }}" class="btn btn-primary btn-sm mt-3">View item</a>
    </div>
  </div>
</div>