<div class="bg-shape bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="pt-lg-18 pb-lg-14 pt-14 pb-12">
          <h1 class="h2 text-white">{{ page.autopages.display_name | replace: "-", " " }}</h1>
          <!-- breadcrumbs -->
          <div class="custom-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ '/' | absolute_url }}">Home</a>
              </li>
              <li class="breadcrumb-item active">
                {{ page.autopages.display_name | replace: "-", " " }}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-6 py-lg-12">
  <div class="container">
    <!-- navbar scroll -->
    <div class="row d-flex align-items-center mb-5">
      <div class="col">
        <div class="navbar-scroll">
          <ul>
            {% for category in site.categories %} {% assign cat_name =
            category[0] %}
            <li>
              <a href="{{ cat_name | slugify | absolute_url }}"
                >{{ cat_name | join: " " }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <!-- result and filter -->
        <div class="row align-items-center mb-4">
          <div class="col-lg-6 col-md-4 col-7">
            <h5 class="mb-0">
              Showing Page {{ paginator.page }} of {{ paginator.total_pages }}
            </h5>
          </div>
          <!-- btn group -->
          <div class="col-lg-3 col-md-4 col-5 ms-auto">
            <div class="nav btn-group justify-content-end" role="tablist">
              <button
                class="btn btn-white border-light"
                data-bs-toggle="tab"
                data-bs-target="#shopGrid"
                role="tab"
                aria-controls="shopGrid"
                aria-selected="false"
              >
                <span class="fe fe-grid"></span>
              </button>
              <button
                class="btn btn-white border-light active"
                data-bs-toggle="tab"
                data-bs-target="#shopList"
                role="tab"
                aria-controls="shopList"
                aria-selected="true"
              >
                <span class="fe fe-list"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade"
            id="shopGrid"
            role="tabpanel"
            aria-labelledby="shopGrid"
          >

          </div>

          <div
            class="tab-pane fade active show"
            id="shopList"
            role="tabpanel"
            aria-labelledby="shopList"
          >
            <div class="row">
              <!-- shop list --> 

              {% assign featured_products = paginator.posts %} 
              {% for product in featured_products %} 
              {% if product.vendor_id != nill %}
              {% include sr-horizontal.html %} 
              {% endif %}
              {% endfor %}
    
              
            </div>
          </div>

          {% include pagination.html %}
        </div>
      </div>
    </div>
  </div>
</div>
