<div class="bg-shape bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="pt-lg-18 pb-lg-14 pt-14 pb-12">
          <h1 class="h2 text-white">{{ page.title | capitalize }}</h1>
          <!-- breadcrumbs -->
          <div class="custom-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ '/' | absolute_url }}">Home</a>
              </li>
              <li class="breadcrumb-item active">
                eBikes
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-6 py-lg-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-7 col-12">
          <!-- result and filter -->
          <div class="row align-items-center mb-4">
            <div class="col-lg-6 col-md-4 col-7">
              <h5 class="mb-0">Bikes Showing Page {{ paginator.page }} of {{ paginator.total_pages }}</h5>
            </div>
            <!-- btn group -->
            <div class="col-lg-3 col-md-4 col-5 ms-auto">
              <div class="nav btn-group justify-content-end" role="tablist">
                <button class="btn btn-white border-light" data-bs-toggle="tab" data-bs-target="#shopGrid" role="tab" aria-controls="shopGrid" aria-selected="false">
                  <span class="fe fe-grid"></span>
                </button>
                <button class="btn btn-white border-light active" data-bs-toggle="tab" data-bs-target="#shopList" role="tab" aria-controls="shopList" aria-selected="true">
                  <span class="fe fe-list"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="shopGrid" role="tabpanel" aria-labelledby="shopGrid">
              <div class="row">
  
                {% for post in paginator.posts %}
                <!-- shop thumbnail -->
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <div>
                          <div class="badge bg-primary-soft">New</div>
                        </div>
                        <div>
                          <a href="#" class="btn-like">
                            <i class="fe fe-heart"></i>
                          </a>
                        </div>
                      </div>
                      <a href="{{ post.url }}"><img src="{{ post.picture }}" alt="" class="mt-3 img-fluid" /></a>
                      <div class="mt-3">
                        <a href="{{ post.url }}">
                          <h4 class="mb-1">{{ post.modelname }}</h4>
                        </a>
                        <p class="font-12 mb-2">{{ post.manufacturer }}</p>
                        <span class="text-dark me-2">{{ post.msrp | money }}</span><span class="text-muted"><s>{{ post.msrp | money }}</s></span>
                        <div class="font-12">
                          <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i> <span class="ms-1">6</span>
                        </div>
                        <a href="{{ post.url }}" class="btn btn-outline-primary btn-sm mt-3">View bike</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
  
            <div class="tab-pane fade active show" id="shopList" role="tabpanel" aria-labelledby="shopList">
              <div class="row">
  
                {% for post in paginator.posts %}
                <!-- shop list -->
                <div class="col-lg-12 col-md-12 col-12">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12 col-12 text-center">
                          <div class="position-relative">
                            <div class="badge bg-primary-soft position-absolute start-0">New</div>
                          </div>
                          <a href="{{ post.url }}"> <img src="{{ post.picture }}" alt="" class="mt-5 img-fluid" height="190" /></a>
                        </div>
  
                        <div class="col-lg-4 col-md-12 col-12">
                          <div class="mt-3">
                            <a href="#">
                              <h4 class="mb-1">{{ post.modelname }}</h4>
                            </a>
                            <p class="font-12 mb-2">by<span class="text-danger ms-1">{{ post.manufacturer }}</span></p>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-12">
                          <span class="text-dark me-2">{{ post.msrp | money }}</span><span class="text-muted"><s>{{ post.msrp | money }}</s></span>
                          <div class="font-12 mb-3">
                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i>
                            <span class="ms-1">6</span>
                          </div>
                          <a href="{{ post.url }}" class="btn btn-outline-primary btn-sm me-2">View bike</a>
                          <a href="#" class="btn-like d-inline-block">
                            <i class="fe fe-heart"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
  
              </div>
            </div>
  
            {% include pagination.html %}
  
          </div>
        </div>
  
        <!-- sidebar -->
        <div class="col-lg-3 col-md-5 col-12">
          <!-- price ranger -->
          <div class="card rounded-3 mb-3 mt-5 mt-lg-0">
            <div class="card-body p-4">
              <p>nothing to see here except maybe an ad in the future</p>
            </div>
        </div>
      </div>
    </div>
  </div>