//
// utilities.scss
// Extended from Bootstrap
//

@import "../bootstrap/_variables";
@import "../bootstrap/_utilities";


$utilities: () !default;

$utilities: map-merge(
    $utilities,
    (
"font-weight": (
      property: font-weight,
      class: fw,
      values: (
        light: $font-weight-light,
        lighter: $font-weight-lighter,
        normal: $font-weight-normal,
        semi-bold: $font-weight-semi-bold,
        medium: $font-weight-medium,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder
      )
    ),
    "line-height": (
      property: line-height,
      class: lh,
      values: (
        1: 1,
        2: 1.5,
        3: 1.8,
        sm: $line-height-sm,
        base: $line-height-base,
        md: $line-height-md,
        lg: $line-height-lg,
      )
    ),
    "z-index": (
      property: z-index,
      class: z,
      values: (
          0:0,
          1:1,
          2:2,
          3:3,
          4:4,
          5:5,
          ),
    ),
    "width": (
      property: width,
      responsive: true,
      class: w,
      values: (
        25: 25%,
        30: 30%,
        40: 40%,
        50: 50%,
        65: 65%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "max-width": (
      property: max-width,
      class: mw,
      values: (
        50: 50%,
        80: 80%,
        100: 100%
        )
    ),
  )
);




// Utilities classes
@import "./utilities/_avatar.scss";
@import "./utilities/_icon-shape.scss";
@import "./utilities/_text-size.scss";
@import "./utilities/_color.scss";
@import "./utilities/_background.scss";
@import "./utilities/_img-zoom.scss";
@import "./utilities/_status.scss";
@import "./utilities/_lift-hover.scss";