// 
// user-variables.scss
// Use this to overwrite Bootstrap and Coach variables
//
// Example of a variable override to change Coach primary color
// Remove the "//" to comment it in and see it in action!

$primary: #ff3233   ;
$secondary: #ac7ae8;
$light: #f6f6f6;
$dark: #282828;


