---
layout: default
---

<div
  class="bg-cover"
  style="
    background-image: linear-gradient(
        180deg,
        rgba(30, 24, 53, 0.4) 0%,
        rgba(30, 24, 53, 0.4) 90.16%
      ),
      url(https://images.unsplash.com/photo-1587932690919-ca4bead01ff5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1676&q=80);
  "
>
  <div class="container">
    <div class="pt-lg-20 pb-lg-19 pt-18 pb-16 text-center">
      <div class="row">
        <div class="offset-lg-1 col-lg-10 col-md-12 col-12 mb-3 mb-lg-0">
          <h1 class="text-white mb-lg-3 mb-2 display-4">{{ page.name }}</h1>
          <p class="text-light mb-5 lead">{{ page.vicinity }}</p>
          <div class="d-grid gap-2 d-md-block">
						{% if page.website %}
						<a href="{{page.website}}" class="btn btn-warning btn-lg">
							Shop bike inventory
						</a>
						{% endif %}
						<a href="#financing" class="btn btn-outline-light btn-lg">
							See financing options
						</a>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-lg-16 py-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-12">
        <div class="mb-10">
          <h3 class="mb-3">Description</h3>
          <p class="lead text-dark">{{ page.description_short }}</p>
          <p>
            Nulla imperdiet ornare mauris vel varius. Morbi tincidunt ornare
            efficitur. Praesent dapibus eros et felis blandit molestie. Aliquam
            at fringilla nisi, eget scelerisque magna. Suspendisse tempus ipsum
            dui.
          </p>

          <p>
            Vivamus at euismod dui. Ut nec enim varius, accumsan sapien a,
            interdum orci. Donec et ligula tempus, viverra massa sit amet,
            lacinia turpis.
          </p>

          <p>
            Praesent viverra, est ac lobortis feugiat, augue nibh tincidunt mi,
            sed malesuada neque metus a est. Quisque malesuada nibh in sem
            consequat, ut facilisis est elementum. Fusce nec eleifend tortor.
          </p>
        </div>
        <div class="mb-8">
          <!-- <h3 class="mb-4">Event Video</h3> -->
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube-nocookie.com/embed/6MM6MbDISQI?controls=0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!-- event video -->

        {% include financing.html %}

        {% include faq.html %}

      </div>
      <!-- event sidebar -->
      <div class="col-lg-4 col-md-4 col-12">
        <div class="mb-5">
          <h3 class="mb-4">Event Information</h3>
          <div id="map" style="height: 350px"></div>
        </div>
        <!-- address -->
        <div class="card mb-4">
          <div class="card-body p-4">
            <div class="mb-4">
              <i
                class="fas fa-map-marker-alt icon-shape icon-lg bg-light-secondary rounded-circle text-secondary"
              ></i>
            </div>
            <h4 class="h5">Address</h4>
            <p class="mb-0">{{ page.address }}</p>
          </div>
        </div>
        <!-- Transport -->
        <div class="card mb-4">
          <div class="card-body p-4">
            <div class="mb-4">
              <i
                class="fas fa-info icon-shape icon-lg bg-light-warning rounded-circle text-warning"
              ></i>
            </div>
            <h4 class="h5">Contact</h4>
            <p class="mb-0">
              <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
            </p>
            <p class="mb-0">
              <a
                href="{{ page.website }}"
                rel="nofollow"
                title="{{ page.name }}"
                >{{ page.website }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {
    var map = L.map('map', {
        center: [{{ page.location_lat }}, {{ page.location_lon }}],
        zoom: 13
    });
  	var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
  		maxZoom: 18,
  		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
  			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  		id: 'mapbox/streets-v11',
  		tileSize: 512,
  		zoomOffset: -1
  	}).addTo(map);

    var marker = L.marker([{{ page.location_lat }}, {{ page.location_lon }}]).addTo(map);

  });
</script>
