---
layout: default
hero-image: /assets/images/XL-bargains-highres.png
---

<!-- hero section -->
<div
  class="pt-16 pb-5 text-center bg-cover"
  style="
    background-image: linear-gradient(180deg, rgba(30, 24, 53, 0.4) 0%, rgba(30, 24, 53, 0.4) 90.16%), 
    url({{ layout.hero-image | absolute_url }});
    "
>
  <div class="container">
    <div class="col-lg-6 mx-auto mb-5">
      <h1 class="display-5 fw-bold text-white">Find deals</h1>
      <p class="lead mb-4 text-white">across hundreds of online and local retailers of the world's best cycling products.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ 'all-products/' | absolute_url }}" class="btn btn-light btn-lg px-4 gap-3">Search all products</a>
        <a href="{{ 'bike-shops/' | absolute_url }}" class="btn btn-outline-light btn-lg px-4">Find a bike shop</a>
      </div>
    </div>
  </div>
  
</div>

<div class="pt-6 pt-lg-13">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12">

        <div class="row d-flex align-items-center mb-5">
          <div class="col">
            <h3>All products</h3>
            {% assign posts = site.posts | where: "pricecurrency", "USD" %}
            {% include sr-tile.html %}
          </div>
        </div>
        
        <div class="row d-flex align-items-center mb-5">
          <div class="col">
            <h3>E-Bikes</h3>
            {% assign posts = site.posts | where: "pricecurrency", "USD" %}
            {% include sr-tile.html %}
          </div>
        </div>

        <div class="row d-flex align-items-center mb-5">
          <div class="col">
            <h3>Cycling apparel</h3>
            {% assign posts = site.posts | where: "pricecurrency", "USD" %}
            {% include sr-tile.html %}
          </div>
        </div>
        
        <div class="row d-flex align-items-center mb-5">
          <div class="col">
            <h3>Top-rated deals</h3>
            {% assign posts = site.posts | where: "pricecurrency", "USD" %}
            {% include sr-tile.html %}
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-md-5 col-12 d-none d-lg-block">

        {% include sidebar-ad.html %}
      
      </div>
    </div>
  </div>
</div>
  <div class="row">

    <div class="py-6 py-lg-13 bg-light">
      <div class="container">
        <div class="col">
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
              <div class="text-center">
                {{content}}
                <h2 class="text-dark mb-3 h1">BikeFi is mission-driven</h2>
                <p class="lead">
                  E-bike loans are an easy way to finance the purchase of your bike.
                  Because a bike isn’t registered with the government like a car,
                  the loan is typically considered an “unsecured personal loan”.
                </p>
              </div>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ 'partners' | absolute_url }}" class="btn btn-outline-primary btn-lg px-4 gap-3">Become a partner</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
