---
layout: default
---

<div class="container py-6">
  <div itemscope itemtype="http://schema.org/Product">
    <div class="row align-items-center">

      {% include breadcrumbs.html %}

      <!-- image -->
      <div class="col-lg-7 col-md-8 col-12">
        {% if page.images %}
        {% for image in page.images limit:1 %}
        {% assign featured_image = page.images[0]['path'] | replace: 'full/', '' %}
        {% include responsive-image.html 
          src=featured_image
          height="700" 
          width="700"   
          class="img-fluid productImage" 
          alt=page.title
        %}
        {% endfor %}
        {% endif %}
      </div>

      <!-- description -->
      <div class="offset-lg-1 col-lg-4 col-md-4 col-12">
        <h2 itemprop="name">{{ page.title }}</h2>
        {% if page.make %}
        <p>by {{ page.make }}</p>
        {% endif %}
        <div class="d-flex">

          <!-- star ratings -->
          {% if page.ratingvalue %} 
          <span class="font-14 text-dark" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span 
              itemprop="ratingValue"
              value="{{ page.ratingvalue | default: 0 }}"
              min=0
              max=5
              class="d-none">{{ page.ratingvalue | default: 0 }}
            </span>
            {% if page.ratingcount != 0 %}
            <span itemprop="ratingCount" class="d-none">
            {% else %}
            <span class="d-none">
            {% endif %}
              {{ page.ratingcount | default: 0 }}
            </span>
            <span itemprop="bestRating" class="d-none">
              {{ page.ratingvalue | default: 0 }}
            </span>
            {% assign ratingvalue = page.ratingvalue %} 
            {% assign ratingcount = page.ratingcount %} 
            {% include star-ratings.html %}
          </span>
          {% else %}
          <span class="font-14 text-dark">
          {% assign ratingvalue = page.ratingvalue %} 
          {% assign ratingcount = page.ratingcount %} 
          {% include star-ratings.html %}
          {% endif %}
          </span>

          <!-- availability -->
          <span class="font-14 text-dark">
            {% assign availability = page.availability %} 
            {% include availability-badge.html %}
          </span>

        </div>

        <hr class="my-4" />

        <div class="mb-3 font-20">
          {% if page.price %}
          <span class="text-dark me-2">{{ page.price | money: "USD" }}</span>
          {% endif %}
          {% if page.pricemsrp %}
          <span class="text-muted font-14 text-danger">
            <s class="text-danger">{{ page.pricemsrp | money: "USD" }}</s>
          </span>
          <span class="badge badge-pill bg-danger small">Sale</span>
          {% endif %}
        </div>
        <div class="mb-3 small">
          <div class="alert alert-secondary" role="alert">
            {{ page.price | times: 1.07 | divided_by: 36 | money: "USD" }} per month for 36 months 
          </div>
        </div>
        <div class="d-grid gap-2 mb-2">
          <a data-bs-toggle="modal" data-bs-target="#modalFinancing" class="btn btn-outline-secondary financingModalButton" target="_blank">Apply For Financing</a>
          <a href="{{ page.affiliateurl }}" class="btn btn-primary" target="_blank">Visit Site</a>
        </div>

        {% if page.tags.size > 0 %}
        <p class="font-12">
          <span class="text-dark me-1"
            >Tag{% if page.tags.size > 1 %}s{% endif %}:</span
          >
          {% for tag in page.tags limit: 5 %}
          {{ tag | lowercase }}
          {% unless forloop.last %}, {% endunless %} {% endfor %}
        </p>
        {% endif %}
        
      </div>
    </div>
  </div>

  <hr class="my-10" />

  <!-- product detail list -->
  <div class="row">
    <div class="col-lg-4 col-md-5 col-12">
      <div class="mb-6 mb-md-0">
        <h4 class="mb-3">Seller details</h4>

        {% if page.vendorid != nill %}
        {% assign vendors = site.data.vendors.records | where: "id", page.vendorid %}
        {% for vendor in vendors %}

        <div class="mt-3">
          <div class="row">
            <div class="col-12 font-14">

              <p class="mb-0">
                <strong>Sold by {{ vendor.name }}</strong><br />
                in {{ vendor.city }}, {{ vendor.state }}, {{ vendor.country }}
              </p>

              <p class="mb-3">
                {% if vendor.affiliate_code != nill %}
                  <span class="text-success font-weight-200"><strong><i>Verified</i></strong> Seller <img src="{{ '/assets/images/verified.svg' | absolute_url }}" /></span>
                {% endif %}
  
                {% assign ratingvalue = vendor.reviews.ratingvalue %}
                {% assign ratingcount = vendor.reviews.ratingcount %}
                {% include star-ratings.html %}
                by
                <a href="{{ vendor.reviews.url }}" target="_blank">
                  {% if vendor.reviews.provider == "google" %}
                  <img src="{{ 'logo-google.svg' | prepend: 'assets/images/logos/' | absolute_url }}" alt="Verified Google review logo" class="img-fluid" style="width:14%;" />
                  {% elsif vendor.reviews.provider == "trustpilot" %}
                  <img src="{{ 'logo-trustpilot.svg' | prepend: 'assets/images/logos/' | absolute_url }}" alt="Verified Trust Pilot review logo" class="img-fluid" style="width:14%;" />
                  {% endif %}
                </a>
              </p>

              <p class="mb-0">
                <strong>Accepted payment methods</strong>
              </p>
              {% for payment in vendor.payment_methods limit:400 %}
                <img src="{{ payment | prepend: 'assets/images/logos/payment-methods/' | append: '.svg' | absolute_url }}" alt="Logo for {{ payment }}" class="img-fluid pe-1 mb-1" style="width:14%;"/>
              {% endfor %}
    
              <p class="mt-3 mb-0">
                <strong>Ships with</strong>
              </p>
              {% for carrier in vendor.shipping_partners limit:4 %}
                <img src="{{ carrier | prepend: 'assets/images/logos/carriers/' | append: '.svg' | absolute_url }}" alt="Logo for {{ carrier }}" class="img-fluid pe-1 mb-1" style="width:14%;" />
              {% endfor %}

              {% if vendor.country == "USA" %}
                <p class="text-success font-12 mb-1"><strong>Ships from the USA</strong> <img src="{{ 'flag-usa.svg' | prepend: 'assets/images/logos/' | absolute_url }}" class="img-fluid pe-1 mb-1" style="width:25px;"/></p>
              {% elsif vendor.country != "" %}
                <p class="font-12 mb-1">Shipped from {{ vendor.country }}</strong></p>
              {% endif %}

              {% if vendor.return_policy.free == true %}
                <p class="text-success mb-1"><strong>FREE returns for {{ vendor.return_policy.days }} days</strong></p>
              {% elsif vendor.return_policy.free == false %}
                <p class="font-12 mb-1">Returns for {{ vendor.return_policy.days }} days</p>
              {% endif %}
              
              <a class="text-end" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Provide feeback about this information</a>

            </div>
          </div>
        </div>

        {% endfor %}
        {% endif %}
      </div>
    </div>

    <!-- description -->
    <div class="col-lg-8 col-md-7 col-12">
      <h4 class="mb-3">Description</h4>

      {{ content }} 
      
      {% if page.video %}

      <iframe
        class="lazy"
        data-src="{{ page.video }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
      <script>
        // Set the options globally
        // to make LazyLoad self-initialize
        window.lazyLoadOptions = {
          // Your custom settings go here
        };

        // Listen to the initialization event
        // and get the instance of LazyLoad
        window.addEventListener(
          "LazyLoad::Initialized",
          function (event) {
            window.lazyLoadInstance = event.detail.instance;
          },
          false
        );
      </script>
      {% endif %} 
    </div>
  </div>
  {% include compare-products.html %}
  </div>
</div>
<!-- Product Feedback Modal -->
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <form
          action="https://formspree.io/f/xeqnvojy"
          method="POST"
        >
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Product name:</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ page.title }}" name="Product name" disabled >
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Product link::</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ page.url | absolute_url }}" name="Product url" disabled >
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Feedback:</label>
            <textarea class="form-control" name="message" id="message-text" rows="4" ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send feedback</button>
      </div>
    </div>
  </div>
</div>

<!-- Financing Modal -->
<div class="modal" id="modalFinancing" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalFinancingLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content rounded-0">
      <div class="modal-body p-0">
        <div class="row g-0">
          <div class="col-md-5"
            style="
              background-image: url('{{ 'assets/images/bg-modal-financing.png' | absolute_url }}');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-position: center;
              background-size: cover;
            ">
          </div>

          <div class="col-md-7 p-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <h3>Finance the purchase of your new bike with BikeFi</h3>
            <p class="lead">Our Visa debit card is accepted at all bike retailers, so you can shop at your favorite local bike shop - or order online from that unique manufacturer that has just what you want.</p>
            <p>BikeFi is not a credit card, it’s an unsecured personal loan to help you purchase your bike and related accessories.</p>
            <p>Financing starting at 7% APR. Includes 1 year of bike insurance coverage free.</p>
            <div class="alert alert-danger" role="alert">
              We’ve had such great demand for our financing that we’ve started a waitlist. Enter your email address to be notified when we’re ready to accept applications again.
            </div>
            <form
            action="https://formspree.io/f/xeqnvojy"
            method="POST"
            >
              <div class="mb-3">
                <label for="email" class="form-label">E-Mail Address:</label>
                <input type="email" id="email" class="form-control" placeholder="Email Address" name="E-Mail Address" pattern=".+@globex\.com" size="30" required>
              </div>
            </form>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Join Waitlist</button>
              <p class="small">(Your email won’t be used for anything else. We hate spam just as much as you do!)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var discountData = "{{ site.discounts | jsonify }}";
</script>
