---
layout: default
---

<div class="py-6 py-lg-12 pt-8 pt-lg-12">
  <div class="container">
    <div class="row align-items-center">

      {% if page.categories.size > 0 %}
      <!-- breadcrumbs -->
      <div id="breadcrumbs" class="my-5">
        <div class="custom-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item  text-primary">
              <a href="{{ '/' | absolute_url }}">Home</a>
            </li>
            {% for item in page.categories %}
            {% if forloop.last %}
            <li class="breadcrumb-item active text-primary">
              {{ item }}
            </li>
            {% else %}
            <li class="breadcrumb-item text-primary">
              <a 
                href="{{ item | slugify | absolute_url }}" 
                class="text-inherit ms-1">
                {{ item }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ol>
        </div>
      </div>
      <!-- breadcrumbs -->
      {% endif %}

      <!-- image -->
      <div class="col-lg-7 col-md-8 col-12">
        <div id="productCarousel" class="carousel slide carousel-fade" data-bs-interval="false">
          <div class="carousel-inner">
            {% for image in page.images_cached %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <a href="https://res.cloudinary.com/{{ site.cloudinary.cloud_name }}/image/fetch/c_limit,f_auto,q_auto,w_1250/{{ image }}" data-lightbox="productImage" data-title="{{ page.title }}" data-footer="Source: {{ site.title }}" disableScrolling="true">
                {% cloudinary productImage {{ image }} alt="Photo of a {{ page.title }}" %}
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
 
        {% if page.images_cached.size > 1 %}
        <div class="row d-flex">
          <div class="navbar-scroll">
            <ul>
              {% for image in page.images_cached %}
              <li data-bs-target="#productCarousel" data-bs-slide-to="{{ forloop.index0 }}" class="shadow-sm m-3">
                {% cloudinary productCarouselNavbar {{ image }} alt="Thumbnail image {{ forloop.index }} of a {{ page.title }}" %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        

      </div>

      <!-- description -->
      <div class="offset-lg-1 col-lg-4 col-md-4 col-12">
        <h2>{{ page.title }}</h2>
        {% if page.make %}
        <p>by {{ page.make }}</p>
        {% endif %}
        <div class="d-flex">

          {% assign stars = page.star_rating %}
          {% include star-ratings.html %}

          <!-- rating -->
          <div>
            {% if page.star_rating.size >= 1 %}
            <span class="ms-2 font-12 text-dark"> {{ page.star_rating }} of 5 stars</span>
            {% endif %}
            {% assign availability = page.availability %}
            {% include availability-badge.html %}
          </div>
        </div>
        <hr class="my-4" />
        <div class="mb-3 font-20">
          {% if page.price_current %}<span class="text-dark me-2">{{ page.price_current }}</span>{% endif %}
          {% if page.price_msrp %}<span class="text-muted"><s>{{ page.price_msrp }}</s></span>{% endif %}
        </div>
        <a href="{{ page.affiliate_url }}" class="btn btn-outline-primary me-2">Add to cart</a>
        <a href="#financing" class="btn btn-light">Get financing</a>

        {% if page.tags.size > 0 %}
        <p class="mt-4 font-14 mb-1"><span class="text-dark me-1">Tag{% if page.tags.size > 1 %}s{% endif %}:</span>
          {% for tag in page.tags %}
          <a href="{{ tag | slugify | prepend: '/tag/' | absolute_url }}" class="text-inherit ms-1">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </p>
        {% endif %}

      </div>
    </div>
    <hr class="my-10" />
    <!-- product detail list -->
    <div class="row">
      <div class="col-lg-4 col-md-5 col-12">
        <div class="mb-6 mb-md-0">
          <h4 class="mb-3">Product details</h4>

          {% for item in page.attributes %}
          <div class="row g-0 py-1 font-14 border-bottom border-1 border-light py-1">
            <div class="col-5 text-dark"><b>{{ item.first }}</b></div>
            <div class="col-7">{{ item.last }}</div>
          </div>
          {% endfor %}
          <div class="row g-0 py-1 font-14 border-bottom border-1 border-light py-1">
            <div class="col-5 text-dark"><b>Updated</b></div>
            <div class="col-7">{{ post.date | date: "%b %d, %Y" }}</div>
          </div>

        </div>
      </div>
      <!-- description -->
      <div class="col-lg-8 col-md-7 col-12">
        <h4 class="mb-3">Description</h4>

        {{ content | markdownify }}

        {% if page.video %}
        <iframe title="vimeo-player" src="{{ page.video }}" width="640" height="360" frameborder="0" allowfullscreen></iframe>
        {% endif %}

        {% if site.discounts %}
        {% for discount in site.discounts %}
        <p><strong>{{ discount.name }} - {{ discount.discount_name }}</strong></p>
        <p>{{ discount.discount_notes }}</p>
        {% endfor %}
        {% endif %}

        {% include financing.html %}

      </div>
    </div>
  </div>
</div>

<script>
  var discountData = '{{ site.discounts | jsonify }}';
</script>
