---
layout: default
hero-image: /assets/images/shop-single-hero-default.jpeg
---

<div class="py-6 py-lg-12 pt-8 pt-lg-12">
  <div class="container">
    <div class="row align-items-center">
      {% if page.categories.size > 0 %}
      <!-- breadcrumbs -->
      <div id="breadcrumbs" class="my-5">
        <div class="custom-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ '/' | absolute_url }}">Home</a>
            </li>
            {% for item in page.category %} 
            <li class="breadcrumb-item">
              <a
                href="{{ item | slugify | absolute_url }}"
                class="text-inherit ms-1"
              >
                {{ item }}
              </a>
            </li>
            {% endfor %}
            <li class="breadcrumb-item active text-primary">
              {{ page.title }}
            </li>
          </ol>
        </div>
      </div>
      <!-- breadcrumbs -->
      {% endif %}

      <!-- image -->
      <div class="col-lg-7 col-md-8 col-12">
        <div
          id="productCarousel"
          class="carousel slide carousel-fade"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            {% for image in page.images %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <a
                href="https://cdn.bikefi.net/images/{{ include.src }}"
                data-lightbox="productImage"
                data-title="{{ page.title }}"
                data-footer="Source: {{ site.title }}"
                disableScrolling="true"
              >
              
              
              
              <img src="{{ '6cde80d84f49130e658e48011c948d53271c6856.jpg' | prepend: '/assets/images/full/' }}" class="img-fluid" alt="{{ page.title }}">

              <!-- Code for "poor man's cdn"
            - the src needs to be the page.images[0].path, but with 'full/' removed - i.e. just the filename and extension.
            
             -->
              <!-- {% include responsive-image.html 
                src="{{ page.images[0].path }}"
                height="250" 
                width="250" 
                class="img-fluid" 
                alt="alt" 
              %} -->







              </a>
            </div>
            {% endfor %}
          </div>
        </div>

        {% if page.images > 1 %}
        <div class="row d-flex">
          <div class="navbar-scroll">
            <ul>
              {% for image in page.images %}
              <li
                data-bs-target="#productCarousel"
                data-bs-slide-to="{{ forloop.index0 }}"
                class="shadow-sm m-3"
              >
                <img src="{{ '6cde80d84f49130e658e48011c948d53271c6856.jpg' | prepend: '/assets/images/full/' }}" alt="Thumbnail image {{ forloop.index }} of a {{ page.title }}" style="width:125px; height:125px;" />

              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>

      <!-- description -->
      <div class="offset-lg-1 col-lg-4 col-md-4 col-12">
        <h2>{{ page.title }}</h2>
        {% if page.brand.name %}
        <p>by {{ page.brand.name }}</p>
        {% endif %}
        <div class="d-flex">
          {% assign ratingvalue = page.ratingvalue %} {% assign ratingcount =
          page.ratingcount %} {% include star-ratings.html %}

          <!-- rating -->
          <div>
            {% if page.star_rating.size >= 1 %}
            <span class="ms-2 font-12 text-dark">
              {{ page.star_rating }} of 5 stars</span
            >
            {% endif %} {% assign availability = page.availability %} {% include
            availability-badge.html %}
          </div>
        </div>
        <hr class="my-4" />
        <div class="mb-3 font-20">
          {% if page.price %}<span class="text-dark me-2">{{ page.price | money }}</span
          >{% endif %} {% if page.price_msrp %}<span class="text-muted"
            ><s>{{ page.price_msrp | money }}</s></span
          >{% endif %}
        </div>
        <a href="{{ page.affiliate_url }}" class="btn btn-primary"
          >Visit Site</a
        >
        <!-- <a href="#financing" class="btn btn-light">Get financing</a> -->

        {% if page.tags.size > 0 %}
        <p class="mt-4 font-14 mb-1">
          <span class="text-dark me-1"
            >Tag{% if page.tags.size > 1 %}s{% endif %}:</span
          >
          {% for tag in page.tags limit: 5 %}
          <a
            href="{{ tag | slugify | prepend: '/tag/' | absolute_url }}"
            class="text-inherit ms-1"
            >{{ tag }}</a
          >{% unless forloop.last %}, {% endunless %} {% endfor %}
        </p>
        {% endif %}
      </div>
    </div>

    <hr class="my-10" />
    {% include related-products.html %}

    <!-- product detail list -->
    <div class="row">
      <div class="col-lg-4 col-md-5 col-12">
        <div class="mb-6 mb-md-0">
          <h4 class="mb-3">Product details</h4>

          {% for item in page.attributes %}
          <div
            class="row g-0 py-1 font-14 border-bottom border-1 border-light py-1"
          >
            <div class="col-5 text-dark"><b>{{ item.first }}</b></div>
            <div class="col-7">{{ item.last }}</div>
          </div>
          {% endfor %}
          <div
            class="row g-0 py-1 font-14 border-bottom border-1 border-light py-1"
          >
            <div class="col-5 text-dark"><b>Updated</b></div>
            <div class="col-7">{{ page.updated_at | date: "%b %d, %Y" }}</div>
          </div>
        </div>
      </div>
      <!-- description -->
      <div class="col-lg-8 col-md-7 col-12">
        <h4 class="mb-3">Description</h4>

        {{ content | markdownify }} {% if page.video %}
        <!-- Embedded YouTube video Markup with the lazy class -->
        <iframe
          class="lazy"
          data-src="{{ page.video }}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <script>
          // Set the options globally
          // to make LazyLoad self-initialize
          window.lazyLoadOptions = {
            // Your custom settings go here
          };

          // Listen to the initialization event
          // and get the instance of LazyLoad
          window.addEventListener(
            "LazyLoad::Initialized",
            function (event) {
              window.lazyLoadInstance = event.detail.instance;
            },
            false
          );
        </script>
        {% endif %} {% if site.discounts %} {% for discount in site.discounts %}
        <p>
          <strong>{{ discount.name }} - {{ discount.discount_name }}</strong>
        </p>
        <p>{{ discount.discount_notes }}</p>
        {% endfor %} {% endif %}
        <hr />
        {% include financing.html %}
      </div>
    </div>
  </div>
  <hr class="my-10" />
  {% include compare-products.html %}

</div>

<script>
  var discountData = "{{ site.discounts | jsonify }}";
</script>
